[Unit]
Description=Playwright Crawler - Tavastia.fi

[Service]
Type=oneshot
ExecStart=/usr/bin/npx ts-node src/tavastia_crawler.ts
WorkingDirectory=/home/mikko/github/playwright-crawlers
EnvironmentFile=/opt/playwright-crawlers/.env

[Install]
WantedBy=default.target
