[Unit]
Description=Timer for Playwright Duunitori.fi crawler
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=120
OnUnitActiveSec=600
Unit=playwright-duunitori.service

[Install]
WantedBy=timers.target
