[Unit]
Description=Playwright Crawler - Theseus.fi

[Service]
Type=oneshot
ExecStart=/usr/bin/npx ts-node src/theseus_crawler.ts
WorkingDirectory=/home/mikko/github/playwright-crawlers
EnvironmentFile=/opt/playwright-crawlers/.env

[Install]
WantedBy=default.target
