[Unit]
Description=Timer for Playwright Krapinpaja.fi crawler
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=120
OnUnitActiveSec=600
Unit=playwright-krapinpaja.service

[Install]
WantedBy=timers.target
